.apresentation-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.apresentation-container h2{
    font-weight: bold;
    margin-top: 1em;
}

.home-container{
    display: flex;
    justify-content: space-around;
}

.home-container table {
    margin-top: 1em;
    height: 1em;
    width: 25em;
}

.home-container td, th {
    text-align: center;
}